.backgroundSpecial {
    background-color:  #2091ee !important;
}
.colorSpecial {
    color: #2091ee !important;
}
.colorReverse {
    color: #FCF6F5FF !important;
}
a svg {
    color: #FCF6F5FF !important;
}