.backgroundSpecial {
    background-color:  #FC3A59 !important;
}
.colorSpecial {
    color: #FC3A59 !important;
}
.colorReverse {
    color: #FCF6F5FF !important;
}
a svg {
    color: #FCF6F5FF !important;
}